<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bring Your Idea to Life</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/themify-icons.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/flexslider.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/ytplayer.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/theme-hyperblue.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600'
          rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Poppins:100,300,400,600,700" rel="stylesheet" type="text/css">
    <link href="/css/font-poppins.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery.min.js"></script>
</head>
<body class="scroll-assist">
<div class="nav-container">
    <a id="top"></a>
    <nav class="absolute transparent">
        <div class="nav-bar">
            <div class="module left">
                <a href="index.html">
                    <img class="logo logo-light" alt="Foundry" src="/img/logo-light.png"/>
                    <img class="logo logo-dark" alt="Foundry" src="/img/logo-dark.png"/>
                </a>
            </div>
            <div class="module widget-handle offscreen-toggle right">
                <i class="ti-menu"></i>
            </div>
        </div>
        <div class="offscreen-container bg-dark text-center">
            <div class="close-nav">
                <a href="#">
                    <i class="ti-close"></i>
                </a>
            </div>
            <div class="v-align-transform text-center">
                <a href="#"><img alt="Logo" class="image-xs mb40 mb-xs-24" src="/img/logo-light.png"/></a>
                <ul class="mb40 mb-xs-24">
                    <li class="fade-on-hover"><a href="#top" class="inner-link"><h5 class="uppercase mb8">Home</h5></a>
                    </li>
                    <li class="fade-on-hover"><a href="#about" class="inner-link"><h5 class="uppercase mb8">About</h5>
                    </a></li>
                    <li class="fade-on-hover"><a href="#lean.tech" class="inner-link"><h5 class="uppercase mb8">
                        Lean.Tech</h5></a></li>
                    <li class="fade-on-hover"><a href="#products" class="inner-link"><h5 class="uppercase mb8">
                        Products</h5></a></li>
                    <li class="fade-on-hover"><a href="#blog" class="inner-link"><h5 class="uppercase mb8">News</h5></a>
                    </li>
                    <li class="fade-on-hover"><a href="#contact" class="inner-link"><h5 class="uppercase mb8">
                        Contact</h5></a></li>
                </ul>
                <p class="fade-half">
                    London, NW9<br/>
                    hello@earlystage.tech
                </p>
            </div>
        </div><!--end of offscreen container-->
    </nav>
</div>
<div class="main-container">
    <section class="bg-primary pt240 pb240 pt-xs-120 pb-xs-80 overlay image-bg">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="/img/agency5.jpeg"/>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <div class="row hidden-xs hidden-sm">
                        <img alt="Logo" class="image-small mb40 mb-xs-0" src="/img/logo-light.png"/>
                    </div>
                    <h4 class="mb56 mb-xs-24">
                        We are a niche development studio providing technology solutions to early stage startups in
                        London.
                    </h4>
                    <a class="btn btn-lg btn-white mb0" href="#">Explore our Products</a>
                </div>
            </div><!--end of row-->
        </div><!--end of container-->
    </section>
    <a id="about"></a>
    <section class="pt80 pb40 pt-xs-40 pb-xs-20">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <h3 class="mb40 mb-xs-32">We Get Startups.</h3>
                    <p class="lead mb20">
                        Early Stage Startups have a distinctly different Technology need compared to more established
                        businesses.
                        We get this. Our tested and proven Lean.Tech approach provides a flexible yet robust solution to
                        your evolving business ideas with a focus to maximise the value proposition for your early
                        adopters.
                    </p>
                    <h4>So, Go On. You Think Ideas. We'll Execute them.</h4>
                </div>
            </div><!--end of row-->
        </div><!--end of container-->
    </section>
    <a id="lean.tech"></a>
    <section class="image-edge bg-dark">
        <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
            <img alt="leantech" class="cast-shadow mb-xs-24" src="/img/agency6.jpg"/>
        </div>
        <div class="container mb40 mt40 mb-xs-16">
            <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform">
                <h3>#Lean.Tech</h3>
                <p class="lead">
                    Steeped in years of wisdom from the Lean Startup movement, #Lean.Tech has the principles of
                    Validated Learning and Iterative Growth at its heart.
                    <br/>The core idea is to maximize customer value while minimizing waste by optimally utilizing the
                    resources at Hand.
                </p>
                <a class="btn btn-sm btn-white mb40" href="#">Read More</a>

                <div class="feature boxed">
                    <p>
                        "This is brilliant! EarlyStage's #LeanTech proved to be the exactly what we needed at this stage
                        in our growth. We never imagined we'd be up and running so soon and learning so much through the
                        process!"
                    </p>
                    <div class="spread-children">
                        <img alt="Pic" class="image-xs" src="/img/avatar1.jpg"/>
                        <span>Sarah Collins - MoveWithin</span>
                    </div>
                </div>
            </div>

        </div>
        <!--end of container-->

    </section>
    <a id="products"></a>
    <section class="pt40 pb40">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="uppercase mb0">Products</h2>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="image-bg bg-dark parallax overlay pt160 pb160 pt-xs-40 pb-xs-40">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="/img/agency7.jpg"/>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="uppercase mb8">PitchDeck.Tech</h2>
                    <p class="lead mb40">A brief description of the tour.</p>
                    <a class="btn btn-lg btn-white mb0" href="#">Details</a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="image-bg bg-dark parallax overlay pt160 pb160 pt-xs-40 pb-xs-40">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="/img/agency8.jpg"/>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="uppercase mb8">MVP.Tech</h2>
                    <p class="lead mb40">A brief description of the tour.</p>
                    <a class="btn btn-lg btn-white mb0" href="#">Explore Tour</a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="image-bg bg-dark parallax overlay pt160 pb160 pt-xs-40 pb-xs-40">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="/img/agency9.jpg"/>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="uppercase mb8">Version1.Tech</h2>
                    <p class="lead mb40">A brief description of the tour.</p>
                    <a class="btn btn-lg btn-white mb0" href="#">Explore Tour</a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="image-bg bg-dark parallax overlay pt160 pb160 pt-xs-40 pb-xs-40">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="/img/agency10.jpg"/>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="uppercase mb8">Pivot.Tech</h2>
                    <p class="lead mb40">A brief description of the tour.</p>
                    <a class="btn btn-lg btn-white mb0" href="#">Explore Tour</a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="image-square bg-dark left">
        <div class="col-md-6 image">
            <div class="background-image-holder">
                <img alt="image" class="background-image" src="/img/agency11.jpg"/>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-1 content">
            <h3 class="uppercase">Book Your Product <br/>
                Discovery Workshop<br/>Today</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                <br/> do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <ul class="bullets mb40 mb-xs-24">
                <li>All Inclusive Packages</li>
                <li>Multi-Night Stays</li>
                <li>Equipment Provided</li>
            </ul>
            <a class="btn btn-lg bg-white mb0" href="#">Book Now</a>
        </div>
    </section>

    <a id="blog"></a>
    <section class="pt80 pb40 pt-xs-40 pb-xs-20">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3 class="mb64 mb-xs-32">News & Views</h3>
                </div>
            </div><!--end of row-->
            <div class="row masonry">
                <div class="masonry-item col-md-4 col-sm-6">
                    <div class="feature bg-secondary p32 pt40 pb40 mb0">
                        <span class="fade-1-4 mb16 display-block">August 3, 2015 in inspiration</span>
                        <h4 class="mb120">Building effective design systems</h4>
                        <a href="#" class="mb0 right">
                            <h6 class="uppercase mb0 color-primary fade-on-hover">Read Story <i
                                    class="ti-arrow-right"></i></h6>
                        </a>
                    </div>
                </div>

                <div class="masonry-item col-md-4 col-sm-6">
                    <div class="feature bg-secondary p32 pt40 pb40 mb0">
                        <span class="fade-1-4 mb16 display-block">July 21, 2015 in design</span>
                        <h4 class="mb120">Selecting the perfect font for the job. Our top tips.</h4>
                        <a href="#" class="mb0 right">
                            <h6 class="uppercase mb0 color-primary fade-on-hover">Read Story <i
                                    class="ti-arrow-right"></i></h6>
                        </a>
                    </div>
                </div>

                <div class="masonry-item col-md-4 col-sm-6">
                    <div class="feature bg-secondary p32 pt40 pb40 mb0">
                        <span class="fade-1-4 mb16 display-block">July 29, 2015 in design</span>
                        <h4 class="mb120">Achieving total visual harmony</h4>
                        <a href="#" class="mb0 right">
                            <h6 class="uppercase mb0 color-primary fade-on-hover">Read Story <i
                                    class="ti-arrow-right"></i></h6>
                        </a>
                    </div>
                </div>

                <div class="masonry-item col-md-4 col-sm-6">
                    <div class="feature bg-secondary p32 pt40 pb40 mb0">
                        <span class="fade-1-4 mb16 display-block">July 14, 2015 in interface</span>
                        <h4 class="mb120">A closer look at case studies</h4>
                        <a href="#" class="mb0 right">
                            <h6 class="uppercase mb0 color-primary fade-on-hover">Read Story <i
                                    class="ti-arrow-right"></i></h6>
                        </a>
                    </div>
                </div>

                <div class="masonry-item col-md-4 col-sm-6">
                    <div class="feature bg-secondary p32 pt40 pb40 mb0">
                        <span class="fade-1-4 mb16 display-block">June 25, 2015 in music</span>
                        <h4 class="mb120">The ultimate office mixtape, Foundry edition</h4>
                        <a href="#" class="mb0 right">
                            <h6 class="uppercase mb0 color-primary fade-on-hover">Read Story <i
                                    class="ti-arrow-right"></i></h6>
                        </a>
                    </div>
                </div>

                <div class="masonry-item col-md-4 col-sm-6">
                    <div class="feature bg-secondary p32 pt40 pb40 mb0">
                        <span class="fade-1-4 mb16 display-block">June 17, 2015 in lifestyle</span>
                        <h4 class="mb120">A guide to post-week undwinding</h4>
                        <a href="#" class="mb0 right">
                            <h6 class="uppercase mb0 color-primary fade-on-hover">Read Story <i
                                    class="ti-arrow-right"></i></h6>
                        </a>
                    </div>
                </div>

            </div><!--end of row-->
        </div><!--end of container-->
    </section>
    <a id="contact"></a>
    <section class="pt120 pb120 image-bg">
        <div class="map-canvas" data-map-zoom="12" data-address="EC4, london"
             data-maps-api-key="AIzaSyCfo_V3gmpPm1WzJEC9p_sRbgvyVbiO83M"
             data-maps-api-key-2="AIzaSyAVsRr4i3ovR45biSx0DoWRswL1kfdO9ZU"></div>
    </section>
    <footer class="footer-2 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                    <a href="#">
                        <img alt="Logo" class="image-xs mb32 fade-on-hover" src="/img/logo-light.png"/>
                    </a>
                    <h3>Get In Touch</h3>
                    <h4>hello@earlystage.tech</h4>
                    <h5>London, NW9</h5>
                    <h5 class="fade-1-4">EarlyStage.Tech &copy; 2016</h5>
                </div>
            </div><!--end of row-->
        </div><!--end of container-->
    </footer>
</div>

<script src="/js/bootstrap.js"></script>
<script src="/js/flickr.js"></script>
<script src="/js/flexslider.min.js"></script>
<script src="/js/lightbox.min.js"></script>
<script src="/js/masonry.min.js"></script>
<script src="/js/twitterfetcher.min.js"></script>
<script src="/js/spectragram.min.js"></script>
<script src="/js/ytplayer.min.js"></script>
<script src="/js/countdown.min.js"></script>
<script src="/js/smooth-scroll.min.js"></script>
<script src="/js/parallax.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>