{% extends 'layout.html' %}


{%block nav%}
<ul class="mb40 mb-xs-24">
    <li class="fade-on-hover"><a href="#top" class="inner-link"><h5 class="uppercase mb8">Home</h5></a>
    </li>
    <li class="fade-on-hover"><a href="#about" class="inner-link"><h5 class="uppercase mb8">About</h5>
    </a></li>
    <li class="fade-on-hover"><a href="#lean.tech" class="inner-link"><h5 class="uppercase mb8">
        Lean.Tech</h5></a></li>
    <li class="fade-on-hover"><a href="#products" class="inner-link"><h5 class="uppercase mb8">
        Products</h5></a></li>
    <li class="fade-on-hover"><a href="#blog" class="inner-link"><h5 class="uppercase mb8">News</h5></a>
    </li>
    <li class="fade-on-hover"><a href="#contact" class="inner-link"><h5 class="uppercase mb8">
        Contact</h5></a></li>
</ul>
{% endblock%}

{% block content %}
<section class="bg-dark pt240 pb240 pt-xs-120 pb-xs-80 overlay image-bg">
    <div class="background-image-holder">
        <img alt="image" class="background-image" src="/img/agency5.jpeg"/>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <div class="row hidden-xs hidden-sm">
                    <!--img alt="Logo" class="image-small mb40 mb-xs-0" src="/img/logo-light.png"/-->
                    <h1 class="headline">Your First Engineering Team</h1>
                </div>
                <h4 class="mb56 mb-xs-24">
                    We are a niche development studio based in London providing technology support to early stage
                    startups.
                </h4>
                <a class="btn btn-lg btn-white mb0" href="#products">Explore Products</a>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</section>
<a id="about"></a>
<section class="pt80 pb0 pt-xs-40 pb-xs-20">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h3 class="mb40 mb-xs-32">Our Approach</h3>
                <p class="lead mb20">
                    Early Stage Startups have a distinctly different Technology need compared to more established
                    businesses. We get this.
                    And hence our <b>Lean.Tech</b> approach, inspired by the Lean & Agile Movements,provides a flexible
                    yet robust engineering framework to
                    your evolving business ideas with a focus to maximise the value proposition for your early adopters
                    and clients.
                </p>
                <h4>So, Go On. You Think Ideas. We'll Execute them.</h4>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</section>
<section class="image-edge bg-secondary">
    <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
        <img alt="leantech" class="cast-shadow mb-xs-24" src="/img/agency6.jpg"/>
    </div>
    <div class="container mb40 mb-xs-16">
        <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform">
            <h3>#Lean.Tech</h3>
            <p class="lead">
                Inspired by the learning and wisdom of the Lean Startup movement, #Lean.Tech has the principles of
                Validated Learning and Iterative Growth at its heart.
                <br/>The core idea is to maximize customer value while optimally utilizing the
                resources at hand.
            </p>
            <a class="btn btn-sm mb40" href="#">Read More</a>

            <div class="feature boxed">
                <p>
                    "This is brilliant! EarlyStage's #LeanTech proved to be the exactly what we needed at this stage
                    in our growth. We never imagined we'd be up and running so soon and learning so much through the
                    process!"
                </p>
                <div class="spread-children">
                    <img alt="Pic" class="image-xs" src="/img/avatar1.jpg"/>
                    <span>Sarah Collins - MoveWithin</span>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="pt80 pb0 pt-xs-40 pb-xs-20">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h3 class="mb40 mb-xs-32">Engagement Models</h3>
            </div>
        </div>
    </div>
</section>


<section class="pt40 pb20">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="image-tile inner-title title-center text-center">
                    <a href="#">
                        <img alt="Equity Subsidy" src="img/agency7.jpg"/>
                        <div class="title">
                            <h4 class="uppercase mb20">Equity Subsidy</h4>
                            <p class="p32">We run a limited Equity Subsidy scheme that allows you to subsidise your
                                upfront technology costs by partnering with us.
                                You get to avail all of our top-notch engineering expertise at subsidised rated in exchange of a 3% stake in your venture.</p>
                            <a class="btn btn-white" href="#">APPLY</a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-tile inner-title title-center text-center">
                    <a href="#">
                        <img alt="Partners" src="img/agency8.jpg"/>
                        <div class="title">
                            <h4 class="uppercase mb20">Engineering Partners</h4>
                            <p class="p32">We help you build and ship the first version of your product using our Lean.Tech approach.
                            And once you have traction we help you setup and transition to your own inhouse engineering team.
                            </p>

                            <a class="btn btn-white" href="#">ENQUIRE</a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="image-square left bg-dark">
    <div class="col-md-6 image">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="/img/agency11.jpg"/>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-1 content">
        <h3 class="uppercase">Book Your Product <br/>
            Discovery Workshop<br/>Today</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            <br/> do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <ul class="bullets mb40 mb-xs-24">
            <li>All Inclusive Packages</li>
            <li>Multi-Night Stays</li>
            <li>Equipment Provided</li>
        </ul>
        <a class="btn btn-lg btn-white mb0" href="#">Book Now</a>
    </div>
</section>

<a id="blog"></a>
<section class="pt80 pb40 pt-xs-40 pb-xs-20">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="mb64 mb-xs-32">News & Views</h3>
            </div>
        </div>
        <div class="row masonry" ng-controller="BlogCtrl">
            <div ng-repeat="post in posts" class="masonry-item col-md-4 col-sm-6">
                <div class="feature bg-secondary p32 pt40 pb40 mb0">
                    <span class="fade-1-4 mb16 display-block">[[post.date]]</span>
                    <h4 class="mb120">[[post.title]]</h4>
                    <a href="#" class="mb0 right">
                        <h6 class="uppercase mb0 color-primary fade-on-hover">Read Story <i
                                class="ti-arrow-right"></i></h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<a id="contact"></a>
<section class="pt120 pb120 image-bg">
    <div class="map-canvas" data-map-zoom="12" data-address="EC4, london"
         data-maps-api-key="AIzaSyCfo_V3gmpPm1WzJEC9p_sRbgvyVbiO83M"
         data-maps-api-key-2="AIzaSyAVsRr4i3ovR45biSx0DoWRswL1kfdO9ZU"></div>
</section>
{% endblock %}